header{
    background-color:map-get($colors, secondary);
    height: 60px;
    border: 1px solid map-get($colors, primary);
    display: flex;
    flex-direction: row;
    flex-wrap:nowrap;
    justify-content: center; 

    .logoPrincipal{
        border-right: 1px solid map-get($colors, primary);
    }
    
    .navegador{
        width: 1480px;

        .menu{
            list-style-type: none;
            display: flex;
            flex-direction: row;
            flex-wrap:nowrap;
            justify-content: space-evenly;
            padding-top: 20px;

            .menu__contenedor{
                display: inline-block;

                .menu__lista{
                    border-bottom: 2px solid #fdefde;
                    text-decoration: none;
                    display: inline-block;
                    font-family: Madefor,Helvetica Neue,Helvetica,Arial,メイリオ,meiryo,ヒラギノ角ゴ pro w3,hiragino kaku gothic pro,sans-serif;
                    color: map-get($colors, primary)
                    
                
                    
                }
            }
        }
    }
}


header .navegador .menu .menu__contenedor .menu__lista--active{
    @extend .menu__lista;
    color: #695828;
}