.fondoContacto{
    padding-top: 180px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 225px;
    background-color: rgba(253, 239, 222, 0.291);
    .fondoContacto__contenido{
        padding-top: 40px;
        padding-left: -300px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        .fondoContacto__contacto{
            font-family: Madefor,Helvetica Neue,Helvetica,Arial,メイリオ,meiryo,ヒラギノ角ゴ pro w3,hiragino kaku gothic pro,sans-serif;
            color: #746230
        }
        form{
            .fondoContacto__nombre{
                width: 323px;
            }
            .fondoContacto__email{
                width: 323px;
            }
            .fondoContacto__textarea{
                width: 650px;
            }
        }
    }
}
