.contenedorPadre{
    height: 650px;
    background-image: url(../imagen/fotodeinicio.jpg);
    background-size: cover;
    background-position: center left;
    @include flex(row, center);
    flex-wrap: nowrap;
   
    .contenedor{
        padding-top: 270px;

    }
}



