.bodyPadre{
    padding-top: 180px;
    padding-bottom:80px ;
    @include flex(row, center);
    flex-wrap: nowrap;
    flex-wrap: wrap;
    background-color: rgba(253, 239, 222, 0.291);

    .body{
        $fotos: (
            primero: #fdefde,
            segundo: #fdefde,
        );
        @each $foto, $color in $fotos {
            .body__imagenRelleno--#{$foto} {
                border: 3px solid $color;
            }
            
        }
        .body__imagenRelleno{
            height: 350px; 
            width: 541.75px;
        }

        .body__imagenRelleno2{
            width: 500px;
            padding-left: 50px;
            padding-right: 50px;
            padding-top: 30px;
            text-align: justify;
            font-size: 15px;
            font-family: Madefor,Helvetica Neue,Helvetica,Arial,メイリオ,meiryo,ヒラギノ角ゴ pro w3,hiragino kaku gothic pro,sans-serif;
            color: #746230
        }
    }
}

.bodyPadre2{
    padding-top: 80px;
    padding-bottom: 90px;
}
