header{
    .navegador{
        .menu{
            .menu__contenedor{
                .menu__lista:hover{
                    border-color: #b28200;
                    color: #cf9700
                }
            }
        }
    }
}


.footer__loc-descripcion:hover{
    color: #cf9700
}
